.header {
    background-color:linen;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    color: rgb(129,123,111);
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
}
body{
    background-image: url("images/coast.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Lato', sans-serif;
}

.card-block{
    background-color: rgba(255,255,255,0.6) !important;
    padding: 10px;
    padding-bottom: 1px;
}

.card-deck{
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(234,224,212,0.4);
}

.card img{
    width: 100%;
}
.card{
    text-align: center;
    border: none !important;
    background-color: transparent !important;
    color: black !important;
}
.card-pmValues{
    background-color: rgba(255,255,255,0.5) !important;
    padding-bottom: 2px;

}

.card-title{
    font-size: 12px;
    color: #605B62;
}

.pm25{
    flex-direction: column;
}

.pmText{
    font-size: 10px;
}

#green{
    color: green !important;
}

#yellow{
    color: #FDAE12 !important;
}

#red{
    color: red !important;
}

